<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.michelthomas.ambulex">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CadastroActivity"
            android:label="@string/cadastro_label"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity" />
        </activity>

        <activity
            android:name=".view.InicioActivity"
            android:label="@string/inicio_label"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.SolicitacaoActivity"
            android:label="@string/solicitacao_label"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.InicioActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.InicioActivity" />
        </activity>

        <provider
            android:name=".data.AmbulexProvider"
            android:authorities="com.michelthomas.ambulex"
            android:exported="false" />

        <service
            android:name=".geocoding.FetchAddressIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=""/>
    </application>

</manifest>